$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Ref: http://stackoverflow.com/a/13051843/1771644
body {padding-top: 40px; }
@media screen and (max-width: 768px) {
  body { padding-top: 0; }
}

.title {
  font-family: 'Abril Fatface', cursive;
}

.item-list {
  line-height: 2;
  font-size: 16px;
}

.page-header {
  height: 64px;
  line-height: 64px;
  background-color: #D84315;
  color: #ECEFF1;
  border-bottom: 2px solid rgb(61, 61, 61);
  margin: 0;
  padding-bottom: 0;
}




/**
 Allows components to snap to each other
 */
.snap-to {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}